/* make scrolling smooth */

html {
    scroll-behavior: smooth;
}

/*
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

.navbar {
    background-color: #363432;
    color: #E1C8C4;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
}


/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    padding-top: .5em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    height: 4vw;
    width: 4vw;
}

.logo h1 {
    font-size: 1.2em;
}

/* navigation list */

.navbar-links li {
    list-style: none;
    display: block;
    padding: 0.5em 0;
}

/*
 style all a tags in header
 and then on hover
*/

.navbar-links a {
    color: #E1C8C4;
    background-color: #333;
    background-attachment: #fff;
    font-size: 1.5rem;
    padding: .75rem 1rem;
    letter-spacing: 1.5px;
    text-decoration: none;
    display: inline-block;

}

.navbar-links a:hover,
.navbar-links a:focus {
    filter: invert(1);
    border-radius: 10px;
    outline: none;
}

/* I am commenting out the attempt at the Hamburger style nav bar
I was not getting it to work and not understanding the videos or other code explainations
as the nav menu would never appear even while the nav bar was checked when inspected.
So rather than have a broken menu with no nav, I commented out the code to at least have the original
nav menu and nav bar attached */


/*
.nav-menu {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    width: max-content;
    position: absolute;
    top: 0;
    right: .4rem;
    z-index: 5;
    cursor: pointer;
}

.nav-menu::before,
.nav-menu::after,
.nav-menu input {
    content: "";
    width: 3rem;
    height: .5rem;
    background-color: #fff;
    border-radius: 99rem;
}

.nav-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.nav-menu input:checked ~ .navbar li {
    display:block ;
}
*/


/*
media query for non-mobile nav bar
min-width set to width of nav elements
such that no text wraps
*/

@media screen and (min-width: 60rem) {

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
    }


}
