body {
    font-family:"Inter", sans-serif;
    background-color: #002333;
    color: #FFFFFF;

}

h1, h2, h3, h4, h5, h6 {
    font-family:"Lugrasimo", cursive;
    font-weight: 400;
    font-size: 40pt;
    text-align: center;
}

h3 {
    margin: 0.1em;
}

h6 {
    color: #FFFFFF;
}

header {
    text-align: center;
}

/*person section*/

#person {
    color: black;
    border: 3px solid #B4BEC9;
    background-color: #159A9C;
    padding: 2px;
    text-align: center;
    font-size:18pt;
}

#person img {
    width: 400px;
}

/*Bio Section*/

#bio {
    text-align: center;
    font-size: 13pt;
}

/*Hobbies Section*/

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px dotted #B4BEC9;
    text-align: center;
    list-style-position: inside;
    color: #FFFFFF;
}

#hobbies ul li:nth-child(even) {
    color: #FFFFFF;
    font-style: italic;
}

#hobbies ul li:nth-child(odd) {
    color: #159A9C;
    font-style:normal
}


/*Gallery Section*/

#gallery {
    border:5px solid #B4BEC9;
    padding: 5px;

}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
    color:#FFFFFF ;
}

/*Literature*/

#lit {
    color: #FFFFFF;
    text-align: center;
    font-size:14pt;
}

#lit div {
    padding: 1rem;
    font-weight: 400;
    max-width: 20rem;
    margin: 0 auto;
}

/*Dropcap for Literature*/

#lit div p:first-child::first-letter {
    color: #363432;
    background-image:radial-gradient(#fff,#E1C8C4) ;
    float: inline-start;
    font-size: 2em;
    padding: .1em;
    margin-right: .25em;
    line-height: 1;
    border:4px outset #363432;
    font-family: "Lobster", sans-serif;
    text-shadow: 2px 2px 3px rgba(0, ,0, 0, 0.5);
    box-shadow: 5px 5px 5px rgba(0, ,0, 0, 0.5);
    border-top-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;

}

/*Video Section*/

#myVideo {
    text-align: center;
    border-top:5px solid #B4BEC9;
    padding: 0%;
    color: #FFFFFF;
    font-size:14pt;
    border-bottom:5px solid #B4BEC9;
}


/* Contact Form */

#formElements {
    display: grid;
    row-gap: .5em;

}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
    color: #B4BEC9;
}

fieldset{
    border: 2px solid;
    margin-top: 1em;
    margin-bottom: 1em;
}

legend {
    background-color: #363432 ;
    color: #E1C8C4;
    padding: .5rem;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;

}

#contact button {
    border: 1px solid;
    max-width: 400px;
    justify-self: center;
    width: 50%;
}


/*footer section*/

footer {
    color: #FFFFFF;
    border: 3px solid #B4BEC9;
    background-color: #159A9C;
    padding: 5px;
    text-align: center;
    font-weight: 700;

}

/*tablet media size*/

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.75rem;
        margin-left: 2rem;
    }

    figure img {
    width: 100%;
    }


    #lit div {
        max-width: 100%;
        columns: 40rem;
    }
}


/*large media size*/

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h3 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }

    #myVideo {
        aspect-ratio: 16:9;
    }
